#container {
    width: 900px;
    padding-top: 50px;
    margin: auto;
}

td {
    width: 400px;
    text-align: center;
}

#stimuli {
    text-align: center;
}

.stimulus {
    display: inline-block;
    width: 400px;
}

[hidden] {
    display: none !important;
}
